DISCORD_TOKEN=
GUILD_ID=
CLIENT_ID=
DEV_MODE=
NOTION_TOKEN=
DATABASE_ID=
SEATBASE_ID=
DATASOURCE_ID=
SEATS_DATASOURCE_ID=
TRAP_CHANNEL_ID=
BOT_LOG_CHANNEL_ID=
INCIDENT_REPORT_CHANNEL_ID=
QUEST_BOARD_CHANNEL_ID=
GUILDMASTER_CTRL_CHANNEL_ID=
BOT_DEBUGGING_CHANNEL_ID=
THE_LONG_REST_CHANNEL_ID=
TLR_CONTROL_CHANNEL_ID=
FEEDS_CHANNEL_ID=
TLR_SUBMISSION_CHANNEL_ID=
LEAGUE_CHARACTERS_DB_ID=
LEAGUE_INVENTORY_DB_ID=
LEAGUE_QUEST_LOG_DB_ID=
LEAGUE_DOWNTIME_DB_ID=
LEAGUE_TRADES_DB_ID=
GUILD_SHOP_DB_ID=
PLAYER_MARKETPLACE_DB_ID=
LEAGUE_PROFILES_FORUM_ID=
LEAGUE_ADMIN_CHANNEL_ID=
DM_ROLE_ID=
LEAGUE_ART_ARCHIVE_THREAD_ID=
FILLOUT_API_KEY=
FILLOUT_FORM_ID=
LEAGUE_PLAYERS_ROLE_ID=
CLERK_OF_MORTAL_AFFAIRS_ROLE_ID=
ADMINS_ROLE_ID=
CLANKERS_ROLE_ID=
HR_ROLE_ID=
CMD_ROLE_ID=
INVENTORY_ROLE_ID=
ADVENTURER_ROLE_ID=
