# Sensitive files
token.txt
url.txt
.env
data/*
scripts/*
!data/channels.js
!data/downtimeBlueprints.json
temp/
test/

# Dependencies
node_modules/

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db
